<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Sign Up</h3>
    <form action="">
        <label for="">Username:</label>
        <input type="text" id="username" name="username" placeholder="create a username!" required>

        <label for="">Firstname: </label>
        <input type="text" id="firstname" name="firstname" placeholder="enter firstname!" required>
    
        <label for="">Lastname:</label>
        <input type="text" id="lastname" name="lastname" placeholder="enter lastname!" required>
    
        <label for="">Email Address:</label>
        <input type="email" id="email" name="email" placeholder="enter email!" required>
    
        <label for="">Password:</label>
        <input type="password" id="pass1" name="pass1" placeholder="enter password!" required>
    
        <label for="">Confirm Password:</label>
        <input type="password" id="pass2" name="pass2" placeholder="enter password!" required>
    
    </form>
</body>
</html>